<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Store</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" routerLink="compose" routerLinkActive="active">Compose</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="storage" routerLinkActive="active">Storage</a></li>
  </ul>
  <menu-authentication></menu-authentication>
</nav>
