<ul class="nav navbar-nav">
  <li *ngIf="!configuration.is_authenticated()" class="nav-item">
    <a class="nav-link btn" (click)="login()" title="Login with Google">
      <img src="assets/google-48.png" width="20"/>
    </a>
  </li>
  <li *ngIf="configuration.is_authenticated()" class="nav-item">
    <a class="nav-link btn noselect" (click)="logout()" [attr.title]="userFullName()">Logout</a>
  </li>
</ul>
