<div class="card cursor-pointer noselect">
  <h4 class="card-header" [ngClass]="getClass()">Demand</h4>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h1 *ngIf="getDemandNumber() > 0" class="card-text text-center">
      {{getDemandNumber()}}
    </h1>
  </div>
</div>
