<div *ngIf="display" class="modal" tabindex="-1" role="dialog" style="display:block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="title" class="modal-header">
        <button *ngIf="topCloseButton" type="button" class="close" aria-label="Close" (click)="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div *ngIf="body" class="modal-body" [innerHtml]="body"></div>
      <div *ngIf="hasButtons" class="modal-footer">
        <button *ngIf="buttonDefaultName" type="button" class="btn btn-default" (click)="close()">{{buttonDefaultName}}</button>
        <button *ngIf="buttonPrimaryName" type="button" class="btn btn-primary" (click)="confirm()">{{buttonPrimaryName}}</button>
      </div>
    </div>
  </div>
</div>
