<div *ngIf="pageCount > 0" class="text-center">
  <button class="btn btn-default previous" [disabled]="previousPageUrl == null" (click)="loadPageUrl.emit(previousPageUrl)">Previous</button>
  <span *ngIf="isSimple()">
    <button class="btn btn-default item" *ngFor="let pageId of elements" (click)="navigateToPage(pageId)" [class.active]="pageId == currentPage">{{pageId}}</button>
  </span>
  <span *ngIf="!isSimple()">
    <button class="btn btn-default item" (click)="navigateToPage(elements[0])" [class.active]="elements[0] == currentPage">{{elements[0]}}</button>
    <input [(ngModel)]="complexViewPageInputValue" (ngModelChange)="complexViewPageInputChanged()" (focus)="inputFocus()" (blur)="inputFocusOut()" autocomplete="off" type="text">
    <button class="btn btn-default item" (click)="navigateToPage(elements[elements.length-1])" [class.active]="elements[elements.length-1] == currentPage">{{elements[elements.length-1]}}</button>
  </span>
  <button class="btn btn-default next" [disabled]="nextPageUrl == null" (click)="loadPageUrl.emit(nextPageUrl)">Next</button>
</div>
