:host input {
  width: 50px;
  text-align: center;
  height: 34px;
  vertical-align: middle;
  margin: 0 10px;
}

.item {
  margin: 0 5px;
}

button.previous {
  margin: 0 5px 0 0;
}

button.next {
  margin: 0 0 0 5px;
}
