<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item nav-link noselect text-left btn" routerLinkActive="active" routerLink="requests">
        Request
      </li>
      <li class="nav-item nav-link noselect text-left btn" routerLinkActive="active" routerLink="external-waybill">
        External waybill
      </li>
      <li class="nav-item nav-link noselect text-left btn" routerLinkActive="active" routerLink="internal-waybill">
        Internal waybill
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
