<div class="card cursor-pointer noselect">
  <h4 class="card-header" [ngClass]="getClass()">Expiration</h4>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h1 *ngIf="getExpirationNumber() > 0" class="card-text text-center">
      {{getExpirationNumber()}}
    </h1>
  </div>
</div>
