<div [formGroup]="form" class="form-group row">
  <div class="col-md-9">
    <input type="text" class="form-control" formControlName="product" placeholder="Product name" value=""
           [class.alert-danger]="!form.controls.product.valid" autocomplete="off" list="products">
    <datalist id="products">
      <option *ngFor="let product of products" [value]="product.name"></option>
    </datalist>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" formControlName="amount" placeholder="Amount" value=""
           [class.alert-danger]="!form.controls.amount.valid">
  </div>
</div>
