<div class="form-group row">
  <div class="col-md-6">
    <input type="text" class="form-control" id="medicament" placeholder="Product" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Amount" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="From storage" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="To storage" value="" required>
  </div>
</div>
