<form>
  <div class="form-group row mb-5">
    <div class="col-md-10 form-inline">
      <label for="internal_waybill" class="label h5 mr-2">Internal waybill:</label>
      <input type="text" class="form-control" id="internal_waybill" placeholder="" value=""required>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-success btn-block" type="submit">Submit form</button>
    </div>
  </div>
  <div class="row h5">
    <div class="col-md-6">
      <label>Product</label>
    </div>
    <div class="col-md-2">
      <label>Amount</label>
    </div>
    <div class="col-md-2">
      <label>From storage</label>
    </div>
    <div class="col-md-2">
      <label>To storage</label>
    </div>
  </div>
  <app-input-compose-internal-waybill></app-input-compose-internal-waybill>
</form>
