<div class="form-group row">
  <div class="col-md-2">
    <input type="text" class="form-control" id="medicament" placeholder="Product" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Shipment" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Expiration" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Amount" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Cost" value="" required>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Storage" value="" required>
  </div>
</div>
