<div class="row">
  <div class="col-md-6">
    <dashboard-card-requests></dashboard-card-requests>
  </div>
  <div class="col-md-6">
    <dashboard-card-demand></dashboard-card-demand>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-md-6">
    <dashboard-card-expiration routerLink="../expiration"></dashboard-card-expiration>
  </div>
</div>
