<form>
  <div class="form-group row mb-5">
    <div class="col-md-10 form-inline">
      <label for="external waybill" class="label h5 mr-2">External waybill:</label>
      <input type="text" class="form-control" id="external waybill" placeholder="" value="" required>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-success btn-block" type="submit">Submit form</button>
    </div>
  </div>
  <div class="row h5">
    <div class="col-md-2">
      <label>Product</label>
    </div>
    <div class="col-md-2">
      <label>Shipment</label>
    </div>
    <div class="col-md-2">
      <label>Expiration</label>
    </div>
    <div class="col-md-2">
      <label>Amount</label>
    </div>
    <div class="col-md-2">
      <label>Cost</label>
    </div>
    <div class="col-md-2">
      <label>Storage</label>
    </div>
  </div>
  <app-input-compose></app-input-compose>
</form>
