<form>
  <div class="form-group row mb-5">
    <!--<div class="col-md-10 form-inline">-->
      <!--<label for="request" class="label h5 mr-2">Request products</label>-->
      <!--<input type="text" class="form-control" id="request" placeholder="Request number" value="" required>-->
    <!--</div>-->
    <div class="col-md-10 form-inline">
      <label for="compile" class="label h5 mr-2">Assign to:</label>
      <input type="text" class="form-control" id="compile" placeholder="" value=""
             required>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-success btn-block" type="submit">Submit form</button>
    </div>
  </div>
  <div class="row h5">
    <div class="col-md-9">
      <label>Product</label>
    </div>
    <div class="col-md-3">
      <label>Amount</label>
    </div>
  </div>
    <request-product *ngFor="let product of products" [form]="product" (changed)="productChanged($event)">
  </request-product>
</form>
